export default {
    db:{
        host: "localhost", 
        user: "user",
        password: "pass",
        database: "db_name",
        multipleStatements: true,
        charset: "utf8mb4_unicode_ci"
    }
};
