export default {
    useFacebook: false,
    secret: "SECRET-JWT",
    password: "PASS", //used only for useFacebook=false
    demo: false,
    volumeDevice: 'Speaker',
    volumeCard: 1,
    mplayerParameters: ['-volume', 100],
    ffmpegPath: 'ffmpeg',
    maxPerWeek: 3,
    maxPerDay: 1,
    daysInFuture: 5,
    timeOffset: 0 // how long to start playing after choosen time, in seconds; can be negative
};
  