body{
    background-image: url('Loginbg.jpg');
    background-size: 100vw 100vh;
}

#Cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    padding: 0;
}
#Paper{
    padding: 1em;
    text-align: center;
}