body{
    background-color: #FFFFFF;
    background-image: none;
}
#root{
    overflow: hidden;
    height: 100vh;
}


.window{
    text-align: center;
    padding-top: 3.5em;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10em;
    margin: auto;
    height: fit-content;
}
.window-content{
    padding: 1em;
    max-height: 65vh;
    overflow-y: auto;
}

.Library{
    overflow: scroll;
    height: 95vh;
}
.Playlist{
    text-align: center;
    position: relative;
    overflow: auto;
    height: calc(100% - 64px);
}
.History{
    text-align: center;
    position: relative;
    overflow: auto;
    height: calc(100% - 64px);
}
.Suggestions{
    text-align: center;
    position: relative;
    overflow: auto;
    height: calc(100% - 64px);
}



@media screen and (max-width:640px) {
    .window{
        height: 100%;
        width: 100%;
        padding:0;
        margin:0;
    }
    .window-content{
        margin: 0;
        margin-top: 3.5em;
        max-height: calc(100% - 5.5em - 56px);
    }
}