body{
    background-color: #FFFFFF;
    background-image: none;
}
.window{
    text-align: center;
    padding-top: 3.5em;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10em;
    margin: auto;
    height: fit-content;
}
.window-content{
    padding: 1em;
    max-height: 65vh;
    overflow-y: auto;
}

.Library{
    overflow: scroll;
    height: 95vh;
}
.Playlist{
    overflow: scroll;
    height: 95vh;
    text-align: center;
}